@using Money.Helper
@model IEnumerable<Money.Models.ViewModels.MoneyViewModel>


@{
    ViewBag.Title = "ListMyMoney";
    Layout = null;
}
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th> @Html.DisplayNameFor(model => model.Category)</th>
        <th> @Html.DisplayNameFor(model => model.Date)</th>
        <th> @Html.DisplayNameFor(model => model.Money)</th>
    </tr>

    @{
        int i = 0;
        foreach (var item in Model)
        {
            <tr>
                <td>@(i += 1)</td>
                <td>@Html.DisplayCategoryColor(Enum.GetName(typeof(Money.Models.ViewModels.MyCategory), item.Category))</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.Money.ToString("N0")</td>
            </tr>

        }
    }

</table>